*{
  margin: 0;
  padding: 0;
  
}

body{
  background-color: black;
  
}

@font-face {
  font-family: Aniyah;
  src: url('/Script/Fontes/Aniyah.otf');
}

@font-face {
  font-family: Beatrix;
  src: url('/Script/Fontes/BeatrixAntiqua-Bold\ Trial.ttf');
}

/* MAIN */
@media (max-width: 1920px) and (max-height: 1080px){

body{
  
}

.x{
  padding-top: 150px;
}

a{
  text-decoration: none;
  text-decoration: none;
  color: white;
}

.Center{
  display: flex;
  justify-content: center;
  
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
  
}

p{
  font-size: 20px;
  font-family:Beatrix;
}

.gridContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0px;
  /*background-color: rgba(0, 0, 0, 0.7);*/
}

.gridItem{
  display: flex;
  /*background-color: rgba(0, 0, 0, 0);*/
  padding: 150px;
  /*border: 1px solid pink;*/
  justify-content: center;
  
}

.container{
  text-align: center;
}

}

/*( Necessita Revisao)*/
@media (max-width: 1600px) and (max-height: 900px){

.x{
  padding-top: 110px;
}

a{
  text-decoration: none;
  color: white;
}

.Center{
  display: flex;
  justify-content: center;

}

.center{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

p{
  font-size: 20px;
  font-family:Beatrix;
}

}


/* VAZIO */
@media (max-width: 1366px) and (max-height: 768px){

}

/*( Necessita Revisao)*/
@media (max-width: 1280px) and (max-height: 720px){

a{
  text-decoration: none;
  color: white;
}
  
.Center{
  display: flex;
  justify-content: center;
  
}
  
.center{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}
  
p{
  font-size: 20px;
  font-family:Beatrix;
}
  
}

/*( Necessita Revisao)*/
@media(max-width: 720px) and (max-height: 480px){

a{
  text-decoration: none;
  color: white;
}
  
.Center{
  display: flex;
  justify-content: center;
  
}
  
.center{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}
  
p{
  font-size: 20px;
  font-family:Beatrix;
}
  
}

/* MOBILE (VAZIO) */
@media (max-width: 320px) and (max-height: 240px){

}