*{
  margin: 0;
  padding: 0;
  
}

body{
  background-color: black;
   
}

a{
  text-decoration: none;
}

@font-face {
  font-family: Aniyah;
  src: url('/Script/Fontes/Aniyah.otf');
}

@font-face {
  font-family: Beatrix;
  src: url('/Script/Fontes/BeatrixAntiqua-Bold\ Trial.ttf');
}

@font-face{
  font-family: Ananda;
  src: url(/Script/Fontes/Ananda\ Black\ Personal\ Use.ttf); 
}

@font-face{
  font-family: Diamond;
  src: url(/Script/Fontes/Diamond\ Sparkling.otf); 
}

@font-face{
  font-family: Morning;
  src: url(/Script/Fontes/Morning\ Signature.otf); 
}

@font-face{
  font-family: Keep;
  src: url(/Script/Fontes/KeeponTruckin.ttf); 
}

@font-face{
  font-family: Another;
  src: url(/Script/Fontes/Another\ Danger\ Slanted\ -\ Demo.otf); 
}

@font-face {
  font-family: Insomia;
  src: url(/Script/Fontes/Insomnia\ 1.ttf);
}

@font-face {
  font-family: Blood;
  src: url(/Script/Fontes/BloodLust.ttf);
}

/* SUBMAIN */
@media screen and (max-width: 1920px) and (max-height: 1080px){



}

/* MAIN*/
@media screen and (max-width: 1600px) and (max-height: 900px){

.x{
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-top: 50px;
}

a{
  text-decoration: none;
  color: white;
}

.Center{
  display: flex;
  justify-content: center;

}

.ImgSobre{
  padding-right: 50px;
}

.center{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.buttom{
  font-family: Airthan;
  font-size: 20px;
  position:absolute;
}

.buttom:hover{
  font-size: 30px;
}

p{
  font-size: 20px;
  font-family:Beatrix;
}

h1{
  color: #fff;
}

pre{
  color: #fff;
}

.Sobre{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.bigName{
  font-size: 90px;
  margin: 20px;
  margin-left: 30px;
  font-family:'Times New Roman', Times, serif;
}

#my{
  color: white;
  font-size: 16px;
  margin: 30px;
  font-family: cursive;
  padding-top: 20px;
  font-style:oblique;
}

pre{
  font-size: 16px;
  font-family: cursive;

}

.textoSobre{
  display: flex;
}

img{
  border-radius: 5px;
}

.ImgSobre{
  padding-top: 60px;
}

.polaroid {
  width: 90%;
  background-color: white;
  margin-left: 20px;
  text-align: center;
  padding-top: 20px;
  float: right;
  margin: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.container {
  text-align: center;
  font-size: 15px;
}

.back{
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Aniyah;
}

.contatos{
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Ananda;
}


.main{
  display: flex;
  flex-direction: row;
  padding-top: 65px;
}

.backCont{
  display: flex;
  justify-content: center;
  font-family: Insomia;
  padding-top: 100px;
}

.base{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cont{
  position: relative;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  

.cartas{
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0, 0.5);
  border-radius: 20px;
  background: rgb(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transition: backdrop-filter 1s;
  backdrop-filter: blur(2px);  
}

.cartas:hover {
  backdrop-filter: blur(8px);
}

.conteudo{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
 
}

.conteudo:hover{
  transform: translateY(0px);
  opacity: 1;
}

.select:hover{
  position: relative;
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

h3{
  color: rgb(210,210,210);
}

h4{
  color: #fff;
}

}

/* VAZIO */
@media screen and (max-width: 1366px) and (max-height: 768px){

a{
  text-decoration: none;
  color: white;
}
  
.Center{
  display: flex;
  justify-content: center;
}
  
.ImgSobre{
  padding-right: 50px;
}
  
.center{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
  
  
p{
  font-size: 20px;
  font-family:Beatrix;
}
  
h1{
  color: #fff;
}
  
pre{
  color: #fff;
}
  
.Sobre{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
}
  
.bigName{
  font-size: 90px;
  margin: 20px;
  margin-left: 70px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
#my{
  color: white;
  font-size: 16px;
  margin: 30px;
  font-family: cursive;
  padding-top: 20px;
  font-style:oblique;
}
  
pre{
  font-size: 16px;
  font-family: cursive;
  
}
  
.textoSobre{
  display: flex;
}
  
img{
  border-radius: 5px;
}
  
.ImgSobre{
  padding-top: 100px;
}
  
.polaroid {
  width: 90%;
  background-color: white;
  margin-left: 20px;
  text-align: center;
  padding-top: 20px;
  float: right;
  margin: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}


.container{
  text-align: center;
  font-size: 15px;
}
 
.back{
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Aniyah;
}
  
.contatos{
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Ananda;
}
  
.main{
  display: flex;
  flex-direction: row;
  padding-top: 65px;
}
  
.backCont{
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
   
}

/* MOBILE (VAZIO) */
@media screen and (max-width: 320px) and (max-height: 240px){

}